body{
    background:url('../img/bg.png');
    background-repeat:repeat;
}
form{
    text-align:center;
}
a{
    color:#222222;
}
#banner{
    font-weight:900;
    font-size:3em;
    font-family:"Arial", sans-serif;
    text-align:center;
}
.fname, .api_field, .api_value {
    font-weight:900;
}
#footer{
    position:absolute;
    bottom:0;
    text-align:center;
}